/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
log/*
tmp/*
vendor/*
storage/*
public/assets
/node_modulesaccommodations?utf8=✓&start_date=4%2F4%2F2019&end_date=4%2F6%2F2019
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
.ruby-gemset
tmp/pids/puma.pid
tmp/pids/server.pid
tmp/restart.txt
.env
dump.rdb
.DS_Store
config/database.yml
coverage/*
app.org
.idea/*
docker-compose.yml
